//Font
$main-font: 'Arial', sans-serif;

// Colores principales
$primary-background-color: #f0f0f0;
$secondary-background-color: #fff;
$primary-text-color: #333;
$secondary-text-color: #222;
$tertiary-text-color: #666;
$accent-color: #ffb300;
$header-text-color: #000000;
$detailed-text-color: #3498db;
$detailed-info-color: #555;

// Colores de la barra de búsqueda
$search-bar-background-color: #f9f9f9;
$input-border-color: #ccc;
$input-border-radius: 5px;
$input-background-color: #fff;
$placeholder-color: #999;
$button-primary-color: #66e59b;
$button-text-color: #fff;
$button-border-radius: 5px;

// Colores de los resultados de búsqueda y tarjetas
$results-list-background-color: #f9f9f9;
$list-item-hover-color: #eee;
$card-background-color: #fff;
$card-border-color: #ddd;

// Colores adicionales
$button-secondary-color: #6c757d; // Gris para el botón "Back to results"
$detailed-background-color: #f5f5f5;
$detailed-border-color: #eee;

// Sombras
$main-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$inner-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
$card-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
$image-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
$thumbnail-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
$detailed-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

// Otros
$border-radius: 10px;
$border-radius-small: 5px;

